#editor {
    width: 50%;
	height: 500px;
}

#console {
	position:absolute;
	top: -510px;
	left: 52%;
	background-color: rgb(24, 24, 24);
	color: white;
	height: 500px;
	width: 50%;
	font-size: 12px;
}

#parse {
	margin-top: 1%;
}
